.chart {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 24px));
    width: 80%;
    height: 80%;
}

ion-toolbar {
    --background: var(--ion-color-tertiary);
    --color: #FFD800;
}

ion-avatar {
    width: 48px;
    height: 48px;
}

ion-grid {
    --ion-grid-columns: 10;
}
/* 
.first-row {
    margin-bottom: 4px;
} */

ion-col.flavor-items {
    > ion-item {
        --background:var(--ion-color-dark);
        --color: var(--ion-color-light);
        --border-color: var(--ion-color-light);
    }
    ion-item:nth-child(odd) {
        border-right: .55px solid var(--ion-color-light);
    }
}

.ios ion-modal ion-content {
    max-height: 289px;
}