<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-avatar>
        <img src="assets/logo-eldora-small.webp" />
      </ion-avatar>
    </ion-buttons>
    <ion-title>Eldora Tasting Chart</ion-title>
    <ion-buttons slot="end">
      <ion-button 
        joyrideStep="step3" 
        [title]="'Reset Chart'" 
        [text]="stepContent[2]" 
        color="danger" 
        fill="solid" 
        (click)="resetChart()">
        <ion-label>Reset</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <canvas 
  joyrideStep="step1"
  [title]="'Chart'"
  [text]="stepContent[0]"
  baseChart 
  class="chart"
  [datasets]="chartDatasets" 
  [labels]="labels" 
  [options]="chartOptions" 
  type="radar"></canvas>
</ion-content>


<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button 
    joyrideStep="step2" 
    [title]="'Add Profile'" 
    [text]="stepContent[1]" 
    (click)="presentProfileModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
